# Backend (Django) - instalar desde la raíz con: pip install -r backend/requirements.txt
Django==5.2.8
gunicorn==23.0.0
whitenoise==6.12.0
dj-database-url==2.3.0
pillow==12.0.0
python-dotenv==1.0.1
requests==2.31.0
cloudinary==1.41.0
django-cloudinary-storage==0.3.0
django-storages==1.14.4
boto3==1.34.162
# Base de datos
mysqlclient==2.2.6
fpdf2==2.7
beautifulsoup4==4.14.3
django-axes==8.3.1